<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin_Problemset</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    {%include "admin_nav.html"%}
    <div class="text-center m-5 mt-14 mb-12 text-2xl">
        <h1><b>Add Your Problem </b></h1>
    </div>
    <form action="/add_problem" method = "post">
        <div class="m-14"> 
            <div class="m-8">
                <label for="title" class="block mb-2 text-lg font-medium text-gray-900 dark:text-black">Title</label>
                <input type="text" id="small-input" name="title" class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
            <div class="m-8">

                <label for="message" class="block mb-2 text-lg font-medium text-gray-900 dark:text-black">Problem Details</label>
                <textarea id="message" rows="8" name="details" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Problem Details"></textarea>
            </div>
            <div class="m-8">
                <label for="input" class="block mb-2 text-lg font-medium text-gray-900 dark:text-black">Input</label>
                <input type="text" id="small-input" name="input"  class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
            <div class="m-8">
                <label for="output" class="block mb-2 text-lg font-medium text-gray-900 dark:text-black">Output</label>
                <input type="text" id="small-input" name="output" class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
            <div class="m-8 mt-12 mb-12 flex flex-col items-center ">
                <button type="submit" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Add</button>
              </div>
        </div>
    </form>
    {%include "footer.html"%}
    <script src="https://unpkg.com/flowbite@1.5.1/dist/flowbite.js"></script>
</body>
</html>