<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeShikhi: Contest</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
     {% include "navbar.html" %}  
    
     <div class="mx-5 my-5 text-center ">
      <h1 class="text-3xl font-bold transition transform hover:bg-sky-700 hover:rounded-md hover:p-2 hover:text-4xl hover:-translate-y-1 motion-reduce:transition-none motion-reduce:hover:transform-none ...">Welcome to Code Shikhi: Your Path to Mastering Programming</h1>
     </div>
     <div class="mt-12 mb-12">
        <h1 class="text-center text-4xl font-bold">Contest Coming Soon......!!!</h1>
     </div>
  
      <div class="mx-5 my-12 text-center ">
          <p class="m-12 font-normal text-2xl font-bold hover:font-bold hover:text-sky-400">
          Our goal at Code Shikhi is to provide you with the information and abilities required to succeed in the field of programming. Regardless of your level of expertise, our platform is customized to meet your learning needs, whether it novice coders just starting out or seasoned programmers seeking to broaden their skills.
          </p>
      </div>
      <div class="mt-5">
  
      </div>
      <div class="mx-12 my-12 flex">
          <div class="mx-5 mt-12">
              <h1 class="text-6xl font-bold text-center hover:text-8xl"> C </h1>
              <h1 class="mt-5 text-2xl">C is a powerful general-purpose programming language. It can be used to develop software like operating systems, databases, compilers, and so on. </h1>
              <div class="text-center mt-5" ><button type="button" class=" hover:p-2 font-bold text-2xl hover:text-white-800 hover:bg-sky-800 hover:rounded-md cursor-pointer ...">
                 <a href="/c_tutorial" target="_blank">Learn C</a> 
                 </button></div>
                 <div class="text-center mt-5" ><button type="button" class=" hover:p-2 font-bold text-2xl hover:text-white-800 hover:bg-sky-800 hover:rounded-md cursor-pointer ...">
                  <a href="/video_tutorial">Vieo Tutorial</a> 
                  </button></div>
                  <div class="text-center mt-5" ><button type="button" class=" hover:p-2 font-bold text-2xl hover:text-white-800 hover:bg-sky-800 hover:rounded-md cursor-pointer ...">
                      <a href="/animation_tutorial">Animation Tutorial</a> 
                      </button></div>
          </div>
          <div class="center mx-5 mt-12">
              <h1 class="text-3xl text-center"> C Programming Example: </h1>
              <img class="mt-5 mx-5" src="static/images/Example.png">
              <a class="text-sky-400 font-bold mx-5 my-5 " target="_blank" href="https://www.programiz.com/c-programming/online-compiler/">Try by yourself</a>
          </div>
      </div>

  {% include "footer.html" %} 
  <script src="https://unpkg.com/flowbite@1.5.1/dist/flowbite.js"></script>
</body>
</html>