<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeQuest: An Adventure in Programming</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
     {% include "navbar.html" %}  
    
     <div class="mt-5 m-12">
      <h1 class="text-center">Compiler Result</h1>
        <pre class="text-center">{{ result }}</pre>
    </div>

  {% include "footer.html" %} 
  <script src="https://unpkg.com/flowbite@1.5.1/dist/flowbite.js"></script>
</body>
</html>