<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeShikhi: Practice Problem Solve</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
     {% include "navbar.html" %} 

     {%if submit %}
<div class="mt-5 m-12">
  <h1 class="text-center">Compiler Result</h1>
    <pre class="text-center">{{ result }}</pre>
    <pre class="text-center">Test Case:{{ Output }}</pre>
</div>
{%endif%}
{%if hints %}
<div class="mt-5 m-12">
  <h1 class="text-center">Hints For {{viewprob[1]}}</h1>
  <textarea type="text" id="problem_update" rows="8" name= "output" class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="" disabled>{{response}}</textarea>
</div>
{%endif%}
{%if source %}
<div class="mt-5 m-12">
  <h1 class="text-center">Hints For {{viewprob[1]}}</h1>
  <textarea type="text" id="problem_update" rows="8" name= "output" class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="" disabled>{{source_code}}</textarea>
</div>
{%endif%}

     <form  method = "post">
      <div class="mt-5 m-12">
          <div class="mb-5 mt-5">
            <label for="problem_update" class="block mb-2 text-lg font-medium text-gray-900 dark:text-black">Title</label>
            <input type="text" id="problem_update"  name= "title" class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{{viewprob[1]}}" disabled>
          </div>
          <div class="mb-5 mt-5">
              <label for="message" class="block mb-2 text-lg font-medium text-gray-900 dark:text-black">Problem Details</label>
              <textarea id="message" rows="8" name="prob" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Problem Details" disabled>{{viewprob[2]}} </textarea>
          </div>
          <div class="mb-5 mt-5">
              <label for="problem_update" class="block mb-2 text-lg font-medium text-gray-900 dark:text-black">Input</label>
              <input type="text" id="problem_update"  name= "input" class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{{viewprob[3]}}" disabled>
            </div>
            <div class="mb-5 mt-5">
              <label for="problem_update" class="block mb-2 text-lg font-medium text-gray-900 dark:text-black">Output</label>
              <textarea type="text" id="problem_update" rows="8" name= "output" class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{{viewprob[4]}}" disabled>{{viewprob[4]}} </textarea>
            </div>
      </div>
  </form>

<form action = "/compile/{{viewprob[0]}}" method = "post">
  <div class="m-12 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600">
      <div class="px-4 py-2 bg-white rounded-t-lg dark:bg-gray-800">
        <label for="source_code" class="block mb-2 text-lg font-medium text-gray-900 dark:text-white">Progamming Language:c</label>
          <textarea id="code" rows="12" name="code" class="w-full px-0 text-sm text-gray-900 bg-white border-0 dark:bg-gray-800 focus:ring-0 dark:text-white dark:placeholder-gray-400" placeholder="Write your source code here" required></textarea>
      </div>
      <div class="flex justify-center px-3 py-2 border-t dark:border-gray-600">
          <input type="submit" name="submit_button" value="Submit" class=" p-5 mx-5 items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-blue-500 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800">
          {%if c > 2%}
          <input type="submit" name="hints_button" value="Hints" class="items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-blue-500 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800">
          {%endif%}
          {%if c > 5%}
          <input type="submit" name="source" value="Source Code" class=" p-5 mx-5 items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-blue-500 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800">
          {%endif%}
      </div>
  </div>
</form>

  {% include "footer.html" %} 
  <script src="https://unpkg.com/flowbite@1.5.1/dist/flowbite.js"></script>
</body>
</html>