<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Problems</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
     {% include "navbar.html" %}  
     <h1 class="text-center m-5 text-lg"><b><i>Problem List</i></b></h1>
     <div class="relative overflow-x-auto shadow-md sm:rounded-lg m-12">
       <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
         <form action="/problems" method="post">
           {%if len_list == 0%}
           <div>
           <h3> Ooops..!! Sorry ...Currently here are no problems.</h3>
           <br>
           <h6>Please wait few hours or few days....Problems are coming soon ....!!!!!!!!</h6>
           </div>
           {%else%}
           <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
               <tr>
                   <th scope="col" class="px-6 py-3">
                       #
                   </th>
                   <th scope="col" class="px-6 py-3">
                       Tittle
                   </th>
                   <th scope="col" class="px-6 py-3">
                       Solved
                   </th>
               </tr>
           </thead>
           <tbody>
             {% for i in range(len_list)%}
               <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                   
                   <td class="px-6 py-4">
                     <Button  type="text"><a class="text-decoration-none text-dark" >{{i+1}}</a></Button>
                   </td>
                   <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    <Button type="submit" name="id" > <a class="text-decoration-none text-dark" href="/view/{{title_id[i]}}">{{prob_list[i][1]}}</a></Button>
                  </th>
                   <td class="px-6 py-4">
                     <Button  type="text"><a class="text-decoration-none text-dark">{{prob_list[i][5]}}</a></Button>
                   </td>
               </tr>
           </tbody>
           {%endfor%}
           {%endif%}
         </form>
       </table>
     </div>
  
     

  {% include "footer.html" %} 
  <script src="https://unpkg.com/flowbite@1.5.1/dist/flowbite.js"></script>
</body>
</html>