<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorials</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <section class="mx-auto justify-center mt-6">
        <div class="grid grid-cols-5 gap-4 mt-6 p-6">
            <div>
                <a href="/c_tutorial.html"> <button class="rounded-full bg-gray-100 border-2 h-16 w-24 p-2">C</button></a>
            </div>
            <div>
                <button class="rounded-full bg-gray-100 border-2 h-16 w-24 p-2">Python</button>
            </div>
            <div>
                <button class="rounded-full bg-gray-100 border-2 h-16 w-24 p-2">C++</button>
            </div>
            <div>
                <button class="rounded-full bg-gray-100 border-2 h-16 w-24 p-2">C#</button>
            </div>
            <div>
                <button class="rounded-full bg-gray-100 border-2 h-16 w-24 p-2">JavaScript</button>
            </div>
        </div>
    </section>
</body>
</html>